body {
  background-color: #000000;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
	color: #EEEEEE;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  height: 600px;
  width: 800px;
	position: relative;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

#header {
	width: 800px;
	margin: 0pt auto;
	font-size: 25px;
	font-weight: bold;
	height: 20px;
}

#navigation {
	width: 800px;
	margin: 0pt auto;
}

#navigation a {
	color: #999999;
	text-decoration: none;
}

#navigation li {
	display: inline;
	padding-right: 15px;
}

#photo_viewer_wrapper {
	border: 1px solid #333333;
	width: 512px;
	position: relative;
	z-index: 2;
	float: right;
	background-color: #000000;
}

.photo_viewer {
	position: relative;
	width: 510px;
	height: 512px;
}

.photo_wrapper {
	width: 502px;
	height: 502px;
	margin: 5px;
	position:absolute;
	top: 0px;
	left: 0px;
}

.photo_wrapper table {
	border-collapse: collapse;
	height: 100%;
  text-align: center;
}

.photo_wrapper table tr td {
    width: 500px;
		position: relative;
}

.photo_wrapper table tr td img {
    margin: 0pt auto;
}

.photo_wrapper table tr td a {
	position: absolute;
	bottom: 10px;
	left: 225px;
	z-index: 1;
}

.portfolio_nav {
  position: absolute;
	bottom: 30px;
	width: 512px;
	height: 50px;
}

.portfolio_nav #previous_button {
	position: absolute;
	left: 20px;
}

.portfolio_nav #next_button {
	position: absolute;
	right: 20px;
}

.portfolio_nav a {
	color: #FFFFFF;
}

#blog, #home, #contact {
	width: 200px;
	float: left;
	height: 480px;
	padding: 15px;
	position: absolute;
	top: 0px;
	left: 0px;
}

#blog {
	overflow-y:scroll;
}

#blog img {
	width: 60%;
	height: 60%;
}

#blog img.wp-smiley {
	width: 15px;
	height: 15px;
}

#blog .title a {
	color:#999999;
  font-weight:bold;
	font-size: 15px;
	text-decoration: none;
}

#blog .post {
	padding-bottom: 30px;
}

#blog .body {
	font-size: 13px;
}

#blog .body a, #blog .comments a, #contact a {
	color:#8888FF;
}

#blog .comments {
	font-size: 12px;
}

#footer {
	width: 800px;
	margin: 0pt auto;
	text-align:center;
}
