<p>NOTE: All my photos are copyrighted. Please respect my rights. If you want to use them, please ask me first. Chances are I'll be happy to give you permission.</p>

<p>Let me start off by saying, I'm not a photographer. I'm a rock climber. Well, I'm a rock climber with all my free time that's not spent at my day job working as a Rails web developer. I'm also a snowboarder and a surfer. And to top it off, I have a wonderful girlfriend who loves all the same things.</p>

<p>I love to take pictures of things I love to do. Seeing amazing pictures of climbing inspires me to get out and climb as well as take pictures. I love trying to capture that same inspiration in my photos. Hopefully one day someone will look at my pictures and think "Damn! That looks awesome! I want to climb there!"</p>
