<% content_for :title, 'Benjamin Smith Photography' %>
<div class="photo_viewer">
	<% @photoset.photo.each_with_index do |photo, i|%>
	  <div id="photo_<%=i%>" class="photo_wrapper" <%='style="display:none;"' if i!=0%>>
	  	<table>
	  	  <tr>
	  	    <td>
	          <%= image_tag(photo.url_l, :width => photo_width(photo), :height => photo_height(photo))%>
	        </td>
	  	  </tr>
	  	</table>
	  </div>
	<% end %>
</div>
<a href="#" id="previous_button" style="display:none;" onclick="javascript:VP.previous_image();return false;">Previous</a> <a href="#" id="next_button" <%='style="display:none;"' if @photoset.photo.length < 2%> onclick="javascript:VP.next_image();return false;">Next</a>